@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>ShortLink</h2>
    <p>Помогите клиентам найти вашу страницу в интернете. Благодаря короткой ссылке, вашим клиентам не придётся видеть длинные url-адреса, занимающие много места.</p>
    <a asp-controller="Generate" asp-action="Index" class="btn btn-primary">Сгенерировать ссылку</a>
</div>
